name: FaucetBot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"   # roda 1x por hora

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y xvfb wget unzip

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          URL: ${{ secrets.URL }}
          COOKIES: ${{ secrets.COOKIES }}
        run: |
          xvfb-run python3 cpick.py

      - name: Upload screenshot
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshot
          path: screen.png
